<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Remanage</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
{% if "/" == request.path or "/dashboard" == request.path %}
        <li class="active"><a href="/">Dashboard</a></li>
{% else %}
        <li><a href="/">Dashboard</a></li>
{% endif %}

{% if "/portfolio/" == request.path %}
        <li class="active"><a href="/portfolio">Portfolio</a></li>
{% else %}
        <li><a href="/portfolio">Portfolio</a></li>
{% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="/">
            Login
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <form class="form">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>

              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
